
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding: 10px 200px;

}
.header-link-text {
    display: flex;
    gap: 10px;
}
.header-information {
    display: flex;
    flex-direction: column;
}
.hero {
    display: flex;
}
.image-with-caption {
    display: flex;
    flex-direction: column;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.author {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}


.hero,
.header {
    background-color: #1F2937;

}

.hero {
    padding: 200px
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.footer-text {
    display: flex;
    flex-direction: column;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.footer,
.sign-up-button {
    background-color: #3882F6;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}