
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 10px;
}



.hero-section,
.header-section {
    background-color: #1F2937;

}









.hero-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.hero-section {
    padding: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section .sign-up-button {
    border-color: #3882F6;
    border-style: solid;
    
}


.hero-section .image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgb(211, 211, 211);
    color: white;
    flex-basis: 400px;
    flex-shrink: 0;
}


.sign-up-button {
    width: 100px;
    padding:3px 20px;
    font-weight: bolder;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;

}










.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}


.image-row .image-placeholder {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 5px;

}


.image-with-caption {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 80px
}









.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 320px;
    background-color: #E5E7EB;


}
.author {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-end;
    font-weight: bold;
}



.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}









.call-to-action-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 100px 200px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
}
.call-to-action-header {
    font-weight: bold;
    font-size: 20px;
}


.call-to-action-section .sign-up-button {
    border-color: white;
    border-style: solid;
    
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: white;
}



